*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "title";  
}

@font-face {
    font-family: "title";
    src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "text";
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@mixin tugma($width ,$height ,$bgcolor , $bradius , $text-color) {
    width: $width;
    height: $height; 
    background: $bgcolor;
    border-radius: $bradius;
    color: $text-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin common($fl, $ai, $jc) {
    display: $fl;
    align-items: $ai;
    justify-content: $jc;
}

body{
    background-color: #000;
    color: #fff;
    padding: 0 120px;
}

header{
    position: sticky;
    top: 0;
    background-color: #000;
    width: 100%;
    z-index: 1;
    .container{
        .row{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 34px;
           
            h1{
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;      
                letter-spacing: 1px;  
                color: #FFFFFF;                
            }
              ul{
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    padding: 25px;
                    a{
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 12px;
                        letter-spacing: 1.5px;
                        color: #FFFFFF;
                        opacity: 0.67;
                    }
                }
              }
        }
    }
}
section.hero{
    .container{
        .row{
            display: flex;
            .col-10{
                position: relative;
                img{
                    position: absolute;
                    top: -110px;
                    left: 35%;
                    z-index: -100;
                }
                .side-bar{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 329px;
                    height: 36px;        
                    background: rgba(255,255,255, .1);
                    margin: 45px 0;
                    border-radius: 200px;
                    padding: 0 10px;
                    .high{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: red;         
                        letter-spacing: 0.5px;           
                        color: #fff;      
                       
                    }
                    .new{
                        width: 46px;
                        height: 26px;
                        left: 125px;
                        top: 218px;        
                        background: #25AB75;
                        border-radius: 200px;
                        padding: 0 5px;
                    }
                }
                h1{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 150px;
                    line-height: 170px;              
                    letter-spacing: -2px;    
                    color: #FFFFFF;
                }
                p.lorem{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 29px;
                    width: 600px;
                    height: 58px;
                    margin: 42px 0;         
                    letter-spacing: 0.5px;       
                    color: #FFFFFF;    
                    opacity: 0.5;
                }
                .buttons{
                    display: flex;
                    .btn1{
                        @include tugma(200px , 70px ,#25AB75 ,10px , #fff)
                    }
                    .btn2{
                        @include tugma(200px , 70px ,rgba(255, 255, 255, 0.103) ,10px ,#fff);
                    }
                }
            }
           .col-2{
            .buttons{
                display: flex;
                flex-direction: column;
                margin-top: 200px;
                .btn1{
                    @include tugma(166px,98px ,rgba(255, 255, 255, 0.103) ,20px , #FFE642);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0 10px;
                    flex-direction: column;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 40px;
                    margin: 20px auto;
                    p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 13px;
                    letter-spacing: 1px;
                    color: #FFFFFF;

                    }
                }
                .btn2{
                    @include tugma(166px,98px ,rgba(255, 255, 255, 0.103) ,20px , #FB1351);
                    display: flex;
                    align-items: flex-start;
                    padding: 0 10px;
                    flex-direction: column;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 40px;
                    p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 13px;
                    letter-spacing: 1px;
                    color: #FFFFFF;
                    }
                }
            }
           }
        }
    }
}
section.main{
    .container{
        .row{
            
            .popular{
                margin: 200px 0 50px;
                @include common(flex,center ,space-between );
                h2{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 35px;
                    line-height: 45px;                  
                    letter-spacing: 0.3px;               
                    color: #fff;
                }  
                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 12px;                 
                    letter-spacing: 1.5px;                
                    color: #FFFFFF; 
                    opacity: 0.67;
                    text-decoration: none;
                } 
            }
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                .row{
                    display: flex;
                    gap: 20px;
                }
                li{
                    position: relative;
                    width: fit-content;
                    video{
                        width: 355px;
                        height: 250px;       
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%);
                        border-radius: 10px; 
                    }
                    .time{
                        position: absolute;
                        top: 75%;
                        right: 0;
                        width: 72px;
                        height: 29px;  
                        background: #000000;
                        border-radius: 10px;                         
                        p{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 19px;                  
                            letter-spacing: 1.36667px;                  
                            color: #FFFFFF;  
                            padding: 10px; 
                        }
                    }
                    h1{
                        position: absolute;
                        left: 20px;
                        top: 75%;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 50px;
                        line-height: 45px;          
                        letter-spacing: 0.3px;       
                        color: #FFFFFF;
                    }
                    p.est{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 14px;          
                        letter-spacing: 0.5px;         
                        color: #FFFFFF;          
                        opacity: 0.67;
                        margin: 15px;
                    }
                }
            }
        }
    }
}
section.aside{
    .container{
        .row{
            position: relative;
            margin-top: 280px;
            h1{
                width: 523px;
                height: 480px;
                font-family: 'title';
                font-style: normal;
                font-weight: 600;
                font-size: 120px;
                line-height: 120px;        
                letter-spacing: -2px;   
                color: #FFFFFF;                
            }
            .yellow{
                position: absolute;
                top: 420px;
                z-index: -1;
                width: 503.36px;
                height: 114.5px;
                transform: rotate(-10deg);
            }
            .box{
                position: absolute;
                width: 890px;
                height: 733px;
                left: 341px;
                top: -100px;     
                background: rgba(255, 255, 255, 0.103);
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content: center;
                p{
                    width: 558px;
                    height: 200px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 50px;                   
                    letter-spacing: 0.5px;          
                    color: #FFFFFF;           
                    opacity: 0.7;
                    margin-left: 350px;
                }
                button{
                    @include tugma(200px,70px ,#25AB75 ,10px , #fff);
                    border: none;
                    margin: 50px 0;
                }
            }
            .img1{
                position: absolute;
                left: -35px;
                top: 630px;
                img{
                    width: 377px;
                    height: 377px;        
                }
                h1{
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.5px;
                color: #FFFFFF;
                }
                span{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    opacity: 0.5;

                }

            }
            .img2{
                position: absolute;
                left: 685px;
                top: 527px;
                img{
                    width: 477px;
                    height: 477px;
                }
                h1{
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.5px;
                color: #FFFFFF;
                }
                span{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    opacity: 0.5;

                }

            }
            .img3{
                position: absolute;
                top: 1005px;
                left: 345px;
                img{
                    width: 337px;
                    height: 337px;
                }
                h1{
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.5px;
                color: #FFFFFF;
                }
                span{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    opacity: 0.5;
                }

            }
        }
    }
}
section.footer{
    .container{
        margin-top:70rem;
        .row{
            @include common(flex,flex-start,space-between );
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            padding: 20px 0;
            .col-1{
                p{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 35px;             
                    color: #FFFFFF;            
                    mix-blend-mode: normal;
                    opacity: 0.34;
                }
            }
            .col-2{
                width: 500px;
                h1{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 50px;
                    line-height: 70px;          
                    letter-spacing: 0.833333px;      
                    color: #FFFFFF;
                }
                span{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 23px;      
                    letter-spacing: 0.5px;    
                    color: #FFFFFF;     
                    mix-blend-mode: normal;
                    opacity: 0.5;
                }
            }
        }
        .row:last-child{
            border-bottom: 0;
            padding-bottom: 100px;
        }
    }
}