*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "title";  
}

@font-face {
    font-family: "title";
    src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "text";
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@mixin tugma($width ,$height ,$bgcolor , $bradius , $text-color) {
    width: $width;
    height: $height; 
    background: $bgcolor;
    border-radius: $bradius;
    color: $text-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin common($fl, $ai, $jc) {
    display: $fl;
    align-items: $ai;
    justify-content: $jc;
}

body{
    background-color: #000;
    color: #fff;
    padding: 0 120px;
}

header{
    .container{
        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 34px;
            border: 1px solid green; 
            h1{
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;      
                letter-spacing: 1px;  
                color: #FFFFFF;                
            }
              ul{
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    padding: 25px;
                    border: 1px solid red;
                    a{
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 12px;
                        letter-spacing: 1.5px;
                        color: #FFFFFF;
                        opacity: 0.67;
                    }
                }
              }
        }
    }
}
section.hero{
    .container{
        .row{
            display: flex;
            .col-10{
                position: relative;
                img{
                    position: absolute;
                    top: -110px;
                    left: 35%;
                    z-index: -100;
                }
                .side-bar{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 329px;
                    height: 36px;        
                    background: rgba(255,255,255, .1);
                    margin: 45px 0;
                    border-radius: 200px;
                    padding: 0 10px;
                    .high{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: red;         
                        letter-spacing: 0.5px;           
                        color: #fff;      
                       
                    }
                    .new{
                        width: 46px;
                        height: 26px;
                        left: 125px;
                        top: 218px;        
                        background: #25AB75;
                        border-radius: 200px;
                        padding: 0 5px;
                    }
                }
                h1{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 150px;
                    line-height: 170px;              
                    letter-spacing: -2px;    
                    color: #FFFFFF;
                }
                p.lorem{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 29px;
                    width: 600px;
                    height: 58px;
                    margin: 42px 0;         
                    letter-spacing: 0.5px;       
                    color: #FFFFFF;    
                    opacity: 0.5;
                }
                .buttons{
                    display: flex;
                    .btn1{
                        @include tugma(200px , 70px ,#25AB75 ,10px , #fff)
                    }
                    .btn2{
                        @include tugma(200px , 70px ,rgba(255, 255, 255, 0.103) ,10px ,#fff);
                    }
                }
            }
           .col-2{
            .buttons{
                display: flex;
                flex-direction: column;
                margin-top: 200px;
                .btn1{
                    @include tugma(166px,98px ,rgba(255, 255, 255, 0.103) ,20px , #FFE642);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0 10px;
                    flex-direction: column;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 40px;
                    margin: 20px auto;
                    p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 13px;
                    letter-spacing: 1px;
                    color: #FFFFFF;

                    }
                }
                .btn2{
                    @include tugma(166px,98px ,rgba(255, 255, 255, 0.103) ,20px , #FB1351);
                    display: flex;
                    align-items: flex-start;
                    padding: 0 10px;
                    flex-direction: column;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 40px;
                    p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 13px;
                    letter-spacing: 1px;
                    color: #FFFFFF;
                    }
                }
            }
           }
        }
    }
}
section.main{
    .container{
        .row{
            
            .popular{
                margin: 200px auto 50px;
                @include common(flex,center ,space-between );
                h2{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 35px;
                    line-height: 45px;                  
                    letter-spacing: 0.3px;               
                    color: #fff;
                }  
                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 12px;                 
                    letter-spacing: 1.5px;                
                    color: #FFFFFF; 
                    opacity: 0.67;
                    text-decoration: none;
                } 
            }
        }
    }
}